nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  
    li { display: inline-block; }
  
    a {
      display: block;
      padding: 6px 12px;
      text-decoration: none;
    }
  }
  #calcDiv {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
  }
  #timeDiv {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: rgb(173, 230, 182);
    margin-top: 20px;
  }
  
   